appnope==0.1.2
backcall==0.2.0
cloudpickle==1.6.0
decorator==4.4.2
future==0.18.2
gym==0.18.0
ipython==7.20.0
ipython-genutils==0.2.0
jedi==0.18.0
numpy==1.20.1
parso==0.8.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
prompt-toolkit==3.0.16
ptyprocess==0.7.0
pyglet==1.5.0
Pygments==2.8.0
scipy==1.6.1
traitlets==5.0.5
wcwidth==0.2.5
